.img-fluid {
	width: 300px;
	height: 200px;
}

.fa-heart {
	color: tomato;
}

.fa-star {
	color: gold;
}

.pagination {
    justify-content: center;
}

.card {
    padding: 10px;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 25px;
}

.card-title {
	margin-top: 40px;
}


textarea {
	resize: none;
}


.sort-list {
	list-style: none;
	float: right;
	margin-right: 180px;
}

.sort-list > li {
	display: inline;
	margin-right: 5px;
}

.active-link {
	color: #6DA2DF;
	font-weight: bold;
}

