<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		  <typeAlias type="com.project.tour.dto.UserDTO" alias="udto"/>
		  <typeAlias type="com.project.tour.dto.MemberDTO" alias="mdto"/>
		    <typeAlias type="com.project.tour.dto.AdminDTO" alias="adto"/>
	</typeAliases>

</configuration>